<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 60vh;
    margin: 1.5rem auto;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(95, 88, 88);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.login-container button:hover {
    background-color: white;
    color: rgb(95, 88, 88);
}
</style>
</head>
<body>
  <%- include('../layouts/header');%>
  <div class="login-container">
    <h2>Login</h2>
    <form action="#">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
</div>
  <%- include('../layouts/footer')%>
</body>
</html>